$kwf-primary-color: #2e9e9e;
$kwf-primary-hover: #00bbb0;
$kwf-green-bg-color: #A1CECB;
$kwf-green-light: #D6FCF4;
$kwf-green-light-hover: #c8fff4;
$kwf-green-hover: #7cddca;
$kwf-green-border-color: #8fcdbf;
$kwf-grey-bg-color: #f5f5f5;
$kwf-hard-grey-bg-color: #e2e2e2;
$kwf-hard-grey-bg-color-hover: #D3D3D3;
$kwf-secondary-color: #1c5cb2;
$kwf-accent-color: #BE1E2D;
$kwf-text-color: #333333;
$kwf-grey-color: #53585EE8;
$kwf-headings-color: #1D2327;
$kwf-platinum-color: #E7E5E2;
$kwf-white-color: #FFFFFF;
$kwf-border-color: #D6D6D6;

$green-primary-color: #1c8600;
$green-light-color: #a1cecc;
$green-title-color: #019e7c;
$green-hover-color: #2e9e9e;
$orange-primary-color: #1c5cb2;
$red-primary-color: #ff0018;
$red-hover-color: #be1e2d;
$green-success: #13c40e;
$lightgray: lightgray;
$background: whitesmoke;

$font-path: '../fonts/';

$primary-font-family: "Montserrat", Sans-serif;
$primary-font-size: 25px;
$primary-font-weight: 600;
$secondary-font-family: "Montserrat", Sans-serif;
$secondary-font-size: 20px;
$secondary-font-weight: 400;
$text-font-family: "Montserrat", Sans-serif;
$text-font-size: 15px;
$text-font-weight: 400;
$accent-font-family: "Roboto", Sans-serif;
$text-font-size: 15px;
$text-font-weight: 400;

$kwf-dark-green: #019e7c;
$kwf-primary-color-rgb: rgb(0, 167, 157);
$kwf-body-background-color: #ffffff;
$kwf-body-background-color-rgb: rgb(255, 255, 255);
$kwf-content-background-color: #ffffff;
$kwf-content-alternate-background-color: #a1cecc;
$kwf-content-border-color: #ffffff;
$kwf-input-border-color: #d3d3d3;
$kwf-content-border-color-rgb: rgb(255, 255, 255);
$kwf-cover-image-background-color: #ffffff;
$kwf-headings-color: #1d2327;
$kwf-headings-color-rgb: rgb(29, 35, 39);
$kwf-body-text-color: #1d2327;
$kwf-body-text-color-rgb: rgb(29, 35, 39);
$kwf-alternate-text-color: #1d2327;
$kwf-alternate-text-color-rgb: rgb(29, 35, 39);
$kwf-primary-button-background-regular: #1c5cb2;
$kwf-primary-button-background-hover: #2e9e9e;
$kwf-primary-button-border-regular: #1c5cb2;
$kwf-primary-button-border-hover: #2e9e9e;
$kwf-primary-button-border-hover-rgb: rgb(0, 167, 157);
$kwf-primary-button-text-regular: #ffffff;
$kwf-primary-button-text-regular-rgb: rgb(255, 255, 255);
$kwf-primary-button-text-hover: #ffffff;
$kwf-primary-button-text-hover-rgb: rgb(255, 255, 255);
$kwf-secondary-button-background-regular: #a1cecc;
$kwf-secondary-button-background-hover: #2e9e9e;
$kwf-secondary-button-border-regular: #a1cecc;
$kwf-secondary-button-border-hover: #2e9e9e;
$kwf-secondary-button-border-hover-rgb: rgb(0, 167, 157);
$kwf-secondary-button-text-regular: #333333;
$kwf-secondary-button-text-hover: #ffffff;
$kwf-header-background: #a1cecc;
$kwf-header-alternate-background: #2e9e9e;
$kwf-header-links: #333333;
$kwf-header-links-hover: #1c5cb2;
//$kwf-header-mobile-logo-size: px;
$kwf-header-height: 85px;
$kwf-sidenav-background: #2e9e9e;
$kwf-sidenav-text-regular: #ffffff;
$kwf-sidenav-text-hover: #ffffff;
$kwf-sidenav-text-active: #2e9e9e;
$kwf-sidenav-menu-background-color-regular: #2e9e9e;
$kwf-sidenav-menu-background-color-hover: #be1e2d;
$kwf-sidenav-menu-background-color-active: #be1e2d;
$kwf-sidenav-count-text-color-regular: #ffffff;
$kwf-sidenav-count-text-color-hover: #2e9e9e;
$kwf-sidenav-count-text-color-active: #be1e2d;
$kwf-sidenav-count-background-color-regular: #be1e2d;
$kwf-sidenav-count-background-color-hover: #be1e2d;
$kwf-sidenav-count-background-color-active: #2e9e9e;
$kwf-footer-background: #ffffff;
$kwf-footer-widget-background: #ffffff;
$kwf-footer-text-color: #5A5A5A;
$kwf-footer-menu-link-color-regular: #5A5A5A;
$kwf-footer-menu-link-color-hover: #2e9e9e;
$kwf-footer-menu-link-color-active: #be1e2d;
$kwf-admin-screen-bgr-color: #FAFBFD;
$kwf-admin-screen-txt-color: #2e9e9e;
$kwf-login-register-link-color-regular: #5A5A5A;
$kwf-login-register-link-color-hover: #1c5cb2;
$kwf-login-register-button-background-color-regular: #1c5cb2;
$kwf-login-register-button-background-color-hover: #2e9e9e;
$kwf-login-register-button-border-color-regular: #1c5cb2;
$kwf-login-register-button-border-color-hover: #2e9e9e;
$kwf-login-register-button-text-color-regular: #FFFFFF;
$kwf-login-register-button-text-color-hover: #FFFFFF;
$kwf-label-background-color: #1c5cb2;
$kwf-label-text-color: #be1e2d;
$kwf-tooltip-background: #1c5cb2;
$kwf-tooltip-background-rgb: rgb(247, 148, 29);
$kwf-tooltip-color: #ffffff;
$kwf-default-notice-color: #1c5cb2;
$kwf-default-notice-color-rgb: rgb(247, 148, 29);
$kwf-success-color: #2e9e9e;
$kwf-success-color-rgb: rgb(0, 167, 157);
$kwf-warning-color: #f7ba45;
$kwf-warning-color-rgb: rgb(247, 186, 69);
$kwf-danger-color: #be1e2d;
$kwf-danger-color-rgb: rgb(190, 30, 45);
$kwf-yellow: #FFD845;
$kwf-button-radius: 100px;
$kwf-block-radius: 10px;
$kwf-option-radius: 5px;
$kwf-block-radius-inner: 6px;
$kwf-input-radius: 6px;
$kwf-label-type-radius: 6px;
$kwf-checkbox-radius: 5.4px;
$kwf-primary-button-focus-shadow: 0px 0px 0px 2px rgba($kwf-primary-button-border-hover-rgb, 0.1);
$kwf-secondary-button-focus-shadow: 0px 0px 0px 2px rgba($kwf-secondary-button-border-hover-rgb, 0.1);
$kwf-outline-button-focus-shadow: 0px 0px 0px 2px rgba($kwf-content-border-color-rgb, 0.1);
$kwf-input-focus-shadow: 0px 0px 0px 2px rgba($kwf-primary-color-rgb, 0.1);
$kwf-input-focus-border-color: $kwf-primary-color;
$kwf-widget-title-text-transform: none;