@import "variables";
@import "mixins";

#groups-dir-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;

    button.duplicate-structure span {
        font-size: 20px;
    }
}

.duplicate-structure-content {
    position: relative;
    background: #FFF;
    width: auto;
    max-width: 500px;
    margin: 0 auto;
    position: relative;
    resize: both;
    min-height: 400px;
    @include border-radius(10px);
    padding: 30px;
    margin: 40px auto;
    box-shadow: 0 3px 24px 0 rgba(18, 43, 70, 0.28);
    font-size: 16px;
    line-height: 1.6875rem;
    color: var(--bb-body-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    // .duplicate-structure-content-title
    &-title {
        padding: 20px;
        text-align: center;
        border-radius: 20px;
        color: #fff;
        background-color: $tprm-primary-color;
        font-size: 25px;
        font-weight: 500;
        position: relative;
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-bottom: 10px;
        align-items: center;

        &.error {
            background-color: $tprm-accent-color;
        }
    }

    .mfp-close {
        display: none;
    }

    .tprm-preloader {
        #tepunareomaori-preloader {
            position: relative !important;
            background: none !important;
            min-height: 400px !important;
            height: 100% !important;
            margin-top: -60px !important;

            #nprogress .bar {
                display: none !important;
            }
        }
    }

    &-body {

        span.bb-icon-user-arrow-up,
        span.bb-icon-cogs {
            font-size: 28px;
            color: $tprm-primary-color;
        }

        .classroom-promote-student-note {
            font-size: 18px;
            font-weight: 600;
            padding: 20px;
            text-align: center;
            border-radius: 20px;
            color: #fff;
            background-color: #be1e2d;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            margin-bottom: 15px;
        }
    }

    &-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}