@import "variables";
@import "mixins";
@import "manage-students-header";

body.groups.students {
    .students-management {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        margin: 15px auto;

        &-title {
            margin: 0;
        }

        // .students-management-header
        &-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin: 5px 10px 30px;

            .subnav-search.members-search {
                margin: 0;
            }

            .manage-students {
                display: flex;
                align-items: center;
                justify-content: center;
                justify-items: center;
                background-color: $tprm-primary-color;
                border-radius: 4px;
                flex-wrap: wrap;

                button {
                    background-color: $tprm-primary-color;
                    border-color: $tprm-primary-color;
                    border: 0;
                    height: 40px;

                    &.create-student {
                        display: flex;
                        align-items: center;
                        border-radius: 0;
                        gap: 15px;
                        border-right: 1px solid;

                        span.bb-icon-user-plus {
                            font-size: 25px;
                        }
                    }

                    &.bulk-create-student {
                        border-radius: 0 4px 4px 0;
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        span.bb-icon-l.bb-icon-upload {
                            font-size: 25px;
                        }
                    }

                    &.all-students {
                        border-radius: 4px 0 0 4px;
                        border-right: 1px solid;
                    }

                    &:hover,
                    &:active,
                    &:focus {
                        background-color: $tprm-primary-hover;
                        box-shadow: none;
                    }

                    &.active-tab {
                        //background-color: $tprm-primary-hover;
                        background-color: $tprm-secondary-color;
                        box-shadow: none;
                    }
                }
            }
        }

        .subnav-search.groups-search {
            margin-top: 0;
        }

        //.students-management-content
        &-content {
            width: 100%;
        }

    }

    .manage-students-header {

        display: flex;
        justify-content: space-evenly;
        background-color: $tprm-grey-bg-color;
        @include border-radius(var(--bb-block-radius));
        padding: 15px 0;
        margin-bottom: 20px;

        div {
            font-size: 16px;
            font-weight: 500;
            border-right: 1px solid var(--bb-content-border-color);
            text-align: center;
            vertical-align: middle;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-right: 26px;

            &.student {
                &_avatar {
                    width: 6%;
                    padding-right: 0;

                    &.school {
                        padding-left: 26px;
                    }

                    div {
                        border-right: none !important;
                    }
                }

                &_name {
                    width: 15%;
                }

                &_login {
                    width: 14%;
                }

                &_password {
                    width: 16%;
                }

                // .student_classroom
                &_classroom {
                    width: 15%;
                    flex-direction: column;

                    div {
                        border: none;
                    }

                    .sub-cell-container {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .sub-cell {
                            padding: 10px;
                            border-top: 1px solid #D6D6D6;

                            &.previous-year {
                                border-right: 1px solid var(--bb-content-border-color);
                            }
                        }
                    }
                }

                // .student_account_status
                &_account_status {
                    width: 20%;

                }

                &_actions {
                    border-right: none;
                    width: 10%;
                }
            }
        }
    }

    .item-body {
        #subnav-filters {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            justify-content: center;
            gap: 20px;
            flex-wrap: wrap;

            .subnav-search {
                display: block;
            }
        }
    }

    .student-delete-content {
        position: relative;
        background: #FFF;
        width: auto;
        max-width: 500px;
        margin: 0 auto;
        position: relative;
        resize: both;
        min-height: 400px;
        @include border-radius(10px);
        padding: 30px;
        margin: 40px auto;
        box-shadow: 0 3px 24px 0 rgba(18, 43, 70, 0.28);
        font-size: 16px;
        line-height: 1.6875rem;
        color: var(--bb-body-text-color);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;

        // .student-delete-content-title
        &-title {
            padding: 20px;
            text-align: center;
            border-radius: 20px;
            color: #fff;
            //background-color: #019e7c;
            background-color: #be1e2d;
            font-size: 25px;
            font-weight: 500;
            position: relative;
            display: flex;
            justify-content: center;
            gap: 10px;
            margin-bottom: 10px;
            align-items: center;
        }

        .student-delete-content-body {
            .tprm-preloader {
                #tepunareomaori-preloader {
                    position: relative !important;
                    background: none !important;
                    min-height: 400px !important;
                    height: 100% !important;
                    margin-top: -60px !important;
                }
            }
        }

        .mfp-close {
            display: none;
        }

        .student-delete-content-footer {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
        }
    }

    /* Popup */
    .manage-student-classrooms {
        position: relative;
        background: #FFF;
        width: auto;
        max-width: 800px;
        margin: 0 auto;
        position: relative;
        resize: both;
        min-height: 600px;
        @include border-radius(10px);
        padding: 30px;
        margin: 40px auto;
        box-shadow: 0 3px 24px 0 rgba(18, 43, 70, 0.28);
        font-size: 16px;
        line-height: 1.6875rem;
        color: var(--bb-body-text-color);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .classrooms-list {
            .tprm-preloader {
                #tepunareomaori-preloader {
                    position: relative !important;
                    background: none !important;
                    min-height: 400px !important;
                    height: 100% !important;
                    //margin-top: -60px !important;
                }
            }
        }

        #confirm-classroom-selection {
            margin: 10px auto 30px auto;
            text-align: center;
            display: flex;
        }

        // .manage-student-classrooms-content-title
        &-content-title {
            padding: 20px;
            text-align: center;
            border-radius: 20px;
            color: #fff;
            background-color: $tprm-primary-color;
            font-size: 25px;
            font-weight: 500;
            position: relative;
            display: flex;
            justify-content: center;
            gap: 10px;
            margin-bottom: 10px;
            align-items: center;
        }

        td,
        th {
            text-align: center;
        }

        .mfp-close {
            display: none;
        }

        .student-delete-content-footer {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
        }

        &-content-footer {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;

            .mfp-close {
                display: none;
            }
        }

        .no-classrooms {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
        }
    }

    /* Popup */
    .edit-student-details {
        position: relative;
        background: #FFF;
        width: auto;
        max-width: 800px;
        margin: 0 auto;
        position: relative;
        resize: both;
        min-height: 600px;
        @include border-radius(10px);
        padding: 30px;
        margin: 40px auto;
        box-shadow: 0 3px 24px 0 rgba(18, 43, 70, 0.28);
        font-size: 16px;
        line-height: 1.6875rem;
        color: var(--bb-body-text-color);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        #confirm-classroom-selection {
            margin: 10px auto 30px auto;
            text-align: center;
            display: flex;
        }

        // .edit-student-details-content-title
        &-content-title {
            padding: 20px;
            text-align: center;
            border-radius: 20px;
            color: #fff;
            background-color: $tprm-primary-color;
            font-size: 25px;
            font-weight: 500;
            position: relative;
            display: flex;
            justify-content: center;
            gap: 10px;
            margin-bottom: 10px;
            align-items: center;
        }

        td,
        th {
            text-align: center;
        }

        .mfp-close {
            display: none;
        }

        &-content-footer {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
        }

        &-content-footer {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;

            .mfp-close {
                display: none;
            }
        }

        .no-classrooms {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
        }

        /* tabs */
        &-content-body {
            min-height: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            justify-content: space-between;
            margin: 30px auto;

            .ui-tabs-panel {
                width: 100%;

                form {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    width: 100%;
                    gap: 20px;

                    input,
                    div {
                        width: 70%;
                    }
                }
            }

            .ui-tabs-nav {
                display: flex;
                align-items: center;
                justify-content: center;

                li.ui-tab {
                    background-color: $tprm-grey-bg-color;
                    float: left;
                    margin: 0;
                    padding: 10px;
                    overflow: hidden;

                    a {
                        color: $tprm-text-color;
                        font-size: 15px;
                        font-weight: 500;
                        padding: 20px 30px;
                    }

                    &:hover {
                        background-color: $tprm-green-light-hover;
                        color: #4f4d4d;
                    }

                    &.ui-state-active {
                        background-color: $tprm-primary-color;

                        a {
                            font-weight: 600;
                            color: #FFF;
                        }
                    }

                    &:last-child {
                        border-radius: 0 8px 8px 0 !important;
                    }

                    &:first-child {
                        border-radius: 8px 0 0 8px;
                    }
                }
            }
        }
    }

    .students-table {
        padding-left: 0 !important;
        padding-right: 0 !important;

        .list-wrap-inner {
            padding-right: 0 !important;
            justify-content: space-evenly;

            .student {

                //student_avatar
                &_avatar {
                    //margin-right: 0;   
                    margin-right: 20px;

                    &.school {
                        padding-left: 20px;
                    }
                }

                //student_students
                &_name {
                    width: 15%;
                }

                //student_login
                &_login {
                    width: 12%;
                    font-size: 15px;
                    font-weight: 500;

                    button#copyusername {
                        right: 4px;
                        top: 0;
                        height: 100%;
                        width: 30px;
                        border: 0;
                        padding: 0;
                        background: 0 0 !important;
                        color: $tprm-primary-color !important;
                        box-shadow: none;
                        cursor: pointer;
                    }
                }

                //student_password
                &_password {
                    width: 15%;
                    position: relative;

                    button#copypass {
                        position: absolute;
                        right: 36px;
                        top: 0;
                        height: 100%;
                        width: 30px;
                        border: 0;
                        padding: 0;
                        background: 0 0 !important;
                        color: black !important;
                        box-shadow: none;
                        cursor: pointer;
                    }

                    .password-toggle {
                        width: 80%;

                        &>.picture-password {
                            max-height: 72px !important;
                            border-radius: 10px;
                            max-width: 100px;
                        }

                        &>input {
                            pointer-events: none;
                            font-weight: 600;
                        }
                    }

                    &_inner {
                        width: 90%;
                        margin: auto;
                        background-color: var(--bb-secondary-button-background-regular);
                        color: var(--bb-secondary-button-text-regular);
                        border: 1px solid var(--bb-secondary-button-border-regular);
                        border-radius: 8px;
                        padding: 4px 2px;
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;

                        //student_code_inner_text
                        &_text {
                            padding: 6px;
                        }

                        .bb-icon-l {
                            padding: 5px;
                            cursor: pointer;
                            font-size: 20px;
                            color: $tprm-primary-color;
                        }
                    }

                    .bb-icon-l,
                    .bb-icon {
                        color: $tprm-primary-color !important;
                    }
                }

                //student_classroom
                &_classroom {
                    width: 15%;
                    text-align: center;

                    .sub-cell-container {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .sub-cell {
                            padding: 20px 10px;
                            flex: 1;
                            text-align: center;

                            &.previous-year {
                                border-right: 1px solid var(--bb-content-border-color);
                            }
                        }
                    }

                }

                &_account_status {
                    width: 20%;
                    text-align: center;

                    .column-tprm-student-status-tprm {

                        // .column-tprm-student-status-tprm-active
                        &-active {
                            .activated {
                                display: table;
                                background: $green-success;
                                box-shadow: 0 4px 20px rgba($green-success, .15);
                                line-height: 20px;
                                padding: 12px;
                                border-radius: 22px;
                                color: #fff;
                                font-weight: 500;
                                cursor: pointer;
                                transition: transform .2s ease, background .3s ease, box-shadow .3s ease;
                                margin: auto;
                                pointer-events: none;

                                span {
                                    display: inline-block;
                                    vertical-align: top;
                                    width: 20px;
                                    height: 20px;
                                    background: #fff;
                                    border-radius: 50%;
                                    margin: 0 4px 0 0;
                                    position: relative;
                                    overflow: hidden;

                                    &:before {
                                        content: '';
                                        left: 0;
                                        top: 0;
                                        width: 100%;
                                        height: 100%;
                                        position: absolute;
                                        background: $green-success;
                                        border-radius: 50%;
                                        transform: scale(0);
                                        transition: transform .3s ease, background .3s ease;
                                    }

                                    svg {
                                        position: absolute;
                                        width: 12px;
                                        height: 12px;
                                        left: 50%;
                                        top: 50%;
                                        margin: -6px 0 0 -6px;
                                        z-index: 1;
                                        fill: $green-success;
                                        opacity: 1;
                                        transform: scale(1);
                                    }
                                }

                                ul {
                                    padding: 0;
                                    margin: 0;
                                    list-style: none;
                                    height: 20px;
                                    width: 70px;
                                    display: inline-block;
                                    vertical-align: top;
                                    text-align: center;
                                    position: relative;
                                    transform-style: preserve-3d;
                                    transition: transform .3s ease;

                                    li {
                                        --rotateX: 0deg;
                                        backface-visibility: hidden;
                                        position: absolute;
                                        top: 0;
                                        bottom: 0;
                                        width: 100%;
                                    }
                                }
                            }
                        }

                        // .column-tprm-student-status-tprm-inactive
                        &-inactive {

                            //Unpaid School
                            .formwrapkwf {
                                display: flex;
                                margin: 0;
                                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .2509803922);
                                border-radius: 44px;
                                margin: auto;
                                position: relative;

                                i.bb-icon-paste {
                                    position: absolute;
                                    left: 10px;
                                    top: 10px;
                                    cursor: pointer;
                                }

                                .icon-container {
                                    display: none;
                                    position: absolute;
                                    right: 16px;
                                    top: calc(50% - 10px);
                                }

                                input {
                                    &.licenseinpt {
                                        width: 100%;
                                        border-radius: 100px 0 0 100px;
                                        border: none;
                                        background-color: $tprm-hard-grey-bg-color !important;
                                        color: $tprm-text-color;
                                        margin: 0;
                                        font-family: $primary-font-family;
                                        text-align: center;
                                        font-size: 13px;
                                        padding: 0 27px;

                                        &::placeholder {
                                            color: #333c;
                                        }
                                    }

                                    &.licensebtn {
                                        margin-top: 5px;
                                        color: #fff;
                                        border: none;
                                        background-color: $tprm-primary-color !important;
                                        border-color: $tprm-primary-color !important;
                                        margin-left: -10% !important;
                                        width: 80px;
                                        padding: 0 12px !important;
                                        margin-top: 0;
                                        font-size: 14px !important;

                                        &:is(:hover, :focus, :active) {
                                            background-color: $tprm-secondary-color !important;
                                            border-color: $tprm-secondary-color !important;
                                        }

                                        &.loading {
                                            width: 51px !important;
                                            cursor: default !important;
                                            background-color: $tprm-primary-color !important;
                                            border-color: $tprm-primary-color !important;
                                            color: transparent !important;

                                            +.icon-container {
                                                display: block;
                                            }
                                        }
                                    }
                                }
                            }

                            // Paid School
                            .activate {
                                display: table;
                                background: $tprm-secondary-color;
                                box-shadow: 0 4px 20px rgba($tprm-secondary-color, .15);
                                line-height: 20px;
                                padding: 12px;
                                border-radius: 22px;
                                color: #fff;
                                font-weight: 500;
                                cursor: pointer;
                                transition: transform .2s ease, background .3s ease, box-shadow .3s ease;
                                margin: auto;

                                &[disabled] {
                                    pointer-events: none;
                                }

                                span {
                                    display: inline-block;
                                    vertical-align: top;
                                    width: 20px;
                                    height: 20px;
                                    background: #fff;
                                    border-radius: 50%;
                                    margin: 0 4px 0 0;
                                    position: relative;
                                    overflow: hidden;

                                    &:before {
                                        content: '';
                                        left: 0;
                                        top: 0;
                                        width: 100%;
                                        height: 100%;
                                        position: absolute;
                                        background: $tprm-secondary-color;
                                        border-radius: 50%;
                                        transform: scale(0);
                                        transition: transform .3s ease, background .3s ease;
                                    }

                                    svg {
                                        position: absolute;
                                        width: 12px;
                                        height: 12px;
                                        left: 50%;
                                        top: 50%;
                                        margin: -6px 0 0 -6px;
                                        z-index: 1;

                                        &:nth-child(1) {
                                            width: 20px;
                                            height: 20px;
                                            top: 0;
                                            left: 0;
                                            fill: none;
                                            margin: 0;
                                            stroke: #fff;
                                            stroke-width: 1px;
                                            stroke-dashoffset: 47.124 * 2;
                                            stroke-dasharray: 47.124;
                                        }

                                        &:nth-child(2) {
                                            fill: $tprm-secondary-color;
                                            transition: transform .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                                        }

                                        &:nth-child(3) {
                                            fill: $tprm-secondary-color;
                                            transform: translateY(20px);
                                            transition: transform .4s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity .3s ease;
                                        }
                                    }
                                }

                                &:hover {
                                    box-shadow: 0 8px 24px rgba($tprm-secondary-color, .15);

                                    span {
                                        svg {
                                            &:nth-child(2) {
                                                transform: translateY(-20px);
                                            }

                                            &:nth-child(3) {
                                                transform: translateY(0);
                                            }
                                        }
                                    }
                                }

                                &:active {
                                    transform: scale(.94);
                                    box-shadow: 0 4px 16px rgba($green-success, .18);
                                }

                                &.loading {
                                    span {
                                        background: none;
                                        transition: background .1s ease .3s;

                                        &:before {
                                            transform: scale(1);
                                        }

                                        svg {
                                            &:nth-child(1) {
                                                animation: turn 1.6s linear infinite forwards, path 1.6s linear infinite forwards;
                                            }

                                            &:nth-child(2) {
                                                transform: translateY(-20px);
                                            }

                                            &:nth-child(3) {
                                                opacity: 0;
                                                transform: translateY(0) scale(.6);
                                            }
                                        }
                                    }

                                    ul {
                                        transform: rotateX(90deg);
                                    }

                                    &.done {
                                        background: $green-success;
                                        box-shadow: 0 4px 20px rgba($green-success, .15);

                                        span {
                                            background: #fff;
                                            transition: background .1s ease 0s;

                                            &:before {
                                                background: $green-success;
                                                transform: scale(0);
                                            }

                                            svg {
                                                &:nth-child(1) {
                                                    animation: none;
                                                }

                                                &:nth-child(3) {
                                                    fill: $green-success;
                                                    opacity: 1;
                                                    transform: scale(1);
                                                    transition: transform .4s cubic-bezier(0.175, 0.885, 0.32, 1.275) .3s, opacity .4s ease .25s;
                                                }
                                            }
                                        }

                                        ul {
                                            transform: rotateX(180deg);
                                        }
                                    }
                                }

                                ul {
                                    padding: 0;
                                    margin: 0;
                                    list-style: none;
                                    height: 20px;
                                    width: 70px;
                                    display: inline-block;
                                    vertical-align: top;
                                    text-align: center;
                                    position: relative;
                                    transform-style: preserve-3d;
                                    transition: transform .3s ease;

                                    li {
                                        --rotateX: 0deg;
                                        backface-visibility: hidden;
                                        position: absolute;
                                        top: 0;
                                        bottom: 0;
                                        width: 100%;
                                        transform-origin: 50% 50%;
                                        transform: rotateX(var(--rotateX)) translateZ(10px);

                                        &:nth-child(2) {
                                            --rotateX: -90deg;
                                        }

                                        &:nth-child(3) {
                                            --rotateX: -180deg;
                                        }
                                    }
                                }
                            }

                            .inactivated {
                                display: table;
                                background: $red-primary-color;
                                box-shadow: 0 4px 20px rgba($red-primary-color, .15);
                                line-height: 20px;
                                padding: 12px;
                                border-radius: 22px;
                                color: #fff;
                                font-weight: 500;
                                cursor: pointer;
                                transition: transform .2s ease, background .3s ease, box-shadow .3s ease;
                                margin: auto;
                                pointer-events: none;

                                span {
                                    display: inline-block;
                                    vertical-align: top;
                                    width: 20px;
                                    height: 20px;
                                    background: #fff;
                                    border-radius: 50%;
                                    margin: 0 4px 0 0;
                                    position: relative;
                                    overflow: hidden;

                                    &:before {
                                        content: '';
                                        left: 0;
                                        top: 0;
                                        width: 100%;
                                        height: 100%;
                                        position: absolute;
                                        background: $red-primary-color;
                                        border-radius: 50%;
                                        transform: scale(0);
                                        transition: transform .3s ease, background .3s ease;
                                    }

                                    svg {
                                        position: absolute;
                                        width: 12px;
                                        height: 12px;
                                        left: 50%;
                                        top: 50%;
                                        margin: -6px 0 0 -6px;
                                        z-index: 1;
                                        fill: $red-primary-color;
                                        opacity: 1;
                                        transform: scale(1);
                                    }
                                }

                                ul {
                                    padding: 0;
                                    margin: 0;
                                    list-style: none;
                                    height: 20px;
                                    width: 70px;
                                    display: inline-block;
                                    vertical-align: top;
                                    text-align: center;
                                    position: relative;
                                    transform-style: preserve-3d;
                                    transition: transform .3s ease;

                                    li {
                                        --rotateX: 0deg;
                                        backface-visibility: hidden;
                                        position: absolute;
                                        top: 0;
                                        bottom: 0;
                                        width: 100%;
                                    }
                                }
                            }

                            @keyframes turn {
                                100% {
                                    transform: rotate(360deg);
                                }
                            }

                            @keyframes path {
                                100% {
                                    stroke-dashoffset: 0;
                                }
                            }
                        }
                    }
                }

                //student_actions
                &_actions {
                    width: 10%;
                    display: flex;
                    gap: 15px;
                    align-items: center;
                    justify-content: space-evenly;

                    .bb_more_options.member-dropdown {
                        position: absolute !important;

                        .bb_more_options_list {
                            top: -75px !important;
                            right: -80px !important;

                            &.is_visible {
                                display: flex !important;
                                align-items: center;
                                justify-content: space-evenly;
                                gap: 15px;
                                width: fit-content !important;
                                flex-direction: column;
                            }
                        }
                    }
                }

            }
        }

    }
}

.single-item.subgroups {
    .item-body #subnav-filters .subnav-search {
        display: block;
    }
}

.loader {
    position: relative;
    height: 20px;
    width: 20px;
    display: inline-block;
    animation: around 5.4s infinite;
}

@keyframes around {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.loader::after,
.loader::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    border-width: 2px;
    border-color: #ffffff #ffffff transparent transparent;
    border-style: solid;
    border-radius: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    animation: around 0.7s ease-in-out infinite;
}

.loader::after {
    animation: around 0.7s ease-in-out 0.1s infinite;
    background: transparent;
}