/lib/admin/app/src export-ignore
/lib/admin/app/node_modules export-ignore
/lib/admin/app/package.json export-ignore
/lib/admin/app/package-lock.json export-ignore
/lib/admin/app/webpack.config.js export-ignore
/lib/admin/app/tsconfig.json export-ignore
/lib/admin/app/tailwind.config.js export-ignore
/lib/admin/app/postcss.config.js export-ignore