body.groups .classrooms-management {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px auto
}

body.groups .classrooms-management-title {
    margin: 0
}

body.groups .classrooms-management .subnav-search.groups-search {
    margin-top: 0
}

body.groups .classrooms-management button.create-classroom {
    display: flex;
    align-items: center
}

body.groups .classrooms-management button.create-classroom span.bb-icon-plus {
    font-size: 25px
}

body.groups .buddypress-wrap .bp-secondary-header {
    margin-bottom: 20px;
    justify-content: space-evenly
}

body.groups .buddypress-wrap .bp-secondary-header .tprm-nav {
    gap: 20px
}

body.groups .buddypress-wrap .subnav-filters {
    gap: 20px
}

body.groups .buddypress-wrap .subnav-filters .manage-classrooms {
    background-color: #00a79d;
    border-radius: 4px
}

body.groups .buddypress-wrap .subnav-filters .manage-classrooms span.separator {
    color: #fff
}

body.groups .buddypress-wrap .subnav-filters .manage-classrooms button {
    background-color: #00a79d;
    border-color: #00a79d
}

body.groups .buddypress-wrap .subnav-filters .manage-classrooms button.create-classroom {
    border-radius: 0
}

body.groups .buddypress-wrap .subnav-filters .manage-classrooms button.all-classrooms {
    border-radius: 4px 0 0 4px
}

body.groups .buddypress-wrap .subnav-filters .manage-classrooms button.duplicate-structure {
    border-radius: 0 4px 4px 0
}

body.groups .buddypress-wrap .subnav-filters .manage-classrooms button:hover {
    background-color: #00bbb0;
    border-color: #00bbb0
}

.single-item.subgroups .item-body #subnav-filters {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap
}

.single-item.subgroups .item-body #subnav-filters .subnav-search {
    display: block
}